.jumbotron{
    background-color: rgb(11, 137, 141);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(5, 4, 2);
    margin-top: 40px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(11, 137, 141);
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin-top: 10px;
}



